/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.background-header {
  background-color: #163441 !important;
  height: 80px !important;
  position: fixed !important;
  top: 0px;
  left: 0px;
  right: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav li a {
  color: #fff !important;
}

.nav .dropdown-menu {
  background-color: #fff;
  color: black;
}

.nav .dropdown-menu .dropdown-item {
  color: black;
}

.background-header .main-nav .nav li:hover a {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}

.background-header .nav li a.active {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}

.header-area {
  /* background-color: #fafafa; */
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
  
}

.header-area .main-nav .logo {
  line-height: 100px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* top: 22px; */
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
  line-height: 22.5px;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 38px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.nav .nav-black a {
  color: black;
}
/* Main Header */
.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
  padding-left: 20px;
  margin-top: -10px;
}

.header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a {
  color: #fff !important;
  padding: 0px 20px;
  font-weight: 400;
}

.header-area .main-nav .nav li:last-child a:hover,
.header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
  
}

.header-area .main-nav .nav li:last-child .main-red-button-hover a {
  color: #fff;
  padding-top: 10px;
}

.header-area .main-nav .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-nav .nav li:last-child .main-red-button-hover a:hover {
  background-color: var(--red) !important;
  color: #fff;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 22.5px;
  border: transparent;
  letter-spacing: 0px;
}


.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: var(--red) !important;
  border-bottom: 2px red solid;
  font-weight: 600;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: var(--red) !important;
  opacity: 1;
  font-weight: 600;
}

.header-area .main-nav .nav li.submenu {
  position: relative;
  /* padding-right: 30px; */
}

.header-area .main-nav .nav li.submenu:after {
  font-family: 'Poppins', sans-serif;
  /* conxtent: "\f107"; */
  font-size: 15px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #2a2a2a;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 150px;
  /* width: 100%; */
  border-radius: 4px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: var(--red) !important;
  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-nav .menu-trigger {
  top: 23px;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-nav .menu-trigger span,
.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #f7f7f7;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-nav .menu-trigger span:before,
.background-header .main-nav .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:after {
  background-color: #1e1e1e;
}

.header-area.header-sticky {
  min-height: 80px;
  /* display: none; */
}

.header-area .nav {
  margin-top: 30px;
}

.header-area.header-sticky .nav li a.active {
  color: var(--red);
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {

  .header-area .main-nav .nav li:last-child,
  .background-header .main-nav .nav li:last-child {
    display: none;
  }

  .header-area .main-nav .nav li:nth-child(6),
  .background-header .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav .nav {
    margin-top: 100px !important;
  }

  .header-area .main-nav .logo {
    color: #1e1e1e;
  }

  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: var(--red) !important;
    opacity: 1;
  }

  .header-area {
    /* background-color: #163441; */
    padding: 0px 10px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }

  .header-area .container {
    padding: 0px;
  }

  .header-area .logo {
    margin-left: 30px;
  }

  .header-area .menu-trigger {
    display: block !important;

  }

  .header-area .main-nav {
    overflow: hidden;
  }

  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-top: 100px;
    background-color: #e7e7e7;
    text-align: left;

  }

  .background-header .nav {
    margin-top: 80px;
    background-color: #e7e7e7;

  }

  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .header-area.header-sticky .nav {
    margin-top: 80px;

  }

  .header-area .main-nav .nav li {
    width: 100%;

    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .header-area .main-nav .nav li a {
    height: 50px !important;

    line-height: 22.5px !important;
    padding: 10px 10px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }

  .header-area .main-nav .nav li a:hover, .header-area .main-nav .nav li a:active {
    background: #eee !important;
    color: var(--red) !important;
    border-bottom: 2px solid var(--red);
  }

  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-navbar .nav li.submenu ul li:last-child {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }

  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-nav .nav li.submenu:hover ul,
  .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
Header To Other Page
--------------------------------------------- 
*/


.background-header .logo,
.background-header .main-navbar .nav li a {
  color: black !important;
}


.background-header .main-navbar .nav li:hover a {
  color: var(--red) !important;
}

.background-header .nav li a.active {
  color: var(--red) !important;
}



.header-area .main-navbar {
  min-height: 80px;
  background: transparent;

}

.header-area .main-navbar .logo {
  line-height: 100px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-navbar .logo {
  line-height: 22.5px;
}

.background-header .main-navbar .nav {
  margin-top: 20px !important;
}

.header-area .main-navbar .nav {
  float: right;
  margin-top: 38px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-navbar .nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.nav .nav-black a {
  color: black;
}

.header-area .main-navbar .nav li:last-child {
  padding-right: 0px;
  padding-left: 20px;
  margin-top: -10px;
}

.header-area .main-navbar .nav li:last-child a,
.background-header .main-navbar .nav li:last-child a {
  color: black !important;
  padding: 0px 20px;
  font-weight: 400;
}

.header-area .main-navbar .nav li:last-child a:hover,
.header-area .main-navbar .nav li:last-child a.active {
  color: black !important;

}

.header-area .main-navbar .nav li:last-child .main-red-button-hover a {
  color: #fff !important;
  padding-top: 10px;
}

.header-area .main-navbar .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-navbar .nav li:last-child .main-red-button-hover a:hover {
  background-color: var(--red) !important;
}

.header-area .main-navbar .nav li a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 22.5px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-navbar .nav li a {
  color: black;
}

.header-area .main-navbar .nav li:hover a,
.header-area .main-navbar .nav li a.active {
  color: var(--red) !important;
}

.background-header .main-navbar .nav li:hover a,
.background-header .main-navbar .nav li a.active {
  color: var(--red) !important;
  opacity: 1;
}

.header-area .main-navbar .nav li.submenu {
  position: relative;
  /* padding-right: 30px; */
}

.header-area .main-navbar .nav li.submenu:after {
  font-family: 'Poppins', sans-serif;
  /* content: "\f107"; */
  font-size: 12px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-navbar .nav li.submenu:after {
  color: #2a2a2a;
}

.header-area .main-navbar .nav li.submenu ul {
  position: absolute;
  width: 150px;
  /* border: 1px solid gray; */
  border-radius: 4px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-navbar .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-navbar .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  /* padding-top: 20px; */
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;

}

.header-area .main-navbar .nav li.submenu ul li a:hover {
  background: #fff;
  color: var(--red) !important;
  padding-left: 25px;
}

.header-area .main-navbar .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-navbar .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-navbar .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-navbar .menu-trigger {
  top: 23px;
}

.header-area .main-navbar .menu-trigger span,
.header-area .main-navbar .menu-trigger span:before,
.header-area .main-navbar .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.background-header .main-navbar .menu-trigger span,
.background-header .main-navbar .menu-trigger span:before,
.background-header .main-navbar .menu-trigger span:after {
  background-color: #f7f7f7;
}

.header-area .main-navbar .menu-trigger span:before,
.header-area .main-navbar .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-navbar .menu-trigger span:before,
.background-header .main-navbar .menu-trigger span:after {
  background-color: #1e1e1e;
}

.header-area .main-navbar .menu-trigger span:before,
.header-area .main-navbar .menu-trigger span:after {
  content: "";
}

.header-area .main-navbar .menu-trigger span {
  top: 16px;
}

.header-area .main-navbar .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-navbar .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-navbar .menu-trigger.active span,
.header-area .main-navbar .menu-trigger.active span:before,
.header-area .main-navbar .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.header-area .main-navbar .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-navbar .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.header-area .main-navbar .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-navbar .menu-trigger.active span:after {
  background-color: #1e1e1e;
}



.header-area.header-sticky .nav li a.active {
  color: var(--red);
}

@media (max-width: 1200px) {
  .header-area .main-navbar .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .header-area .main-navbar:before {
    display: none;
  }
}

@media (max-width: 992px) {

  .header-area .main-navbar .nav li:last-child,
  .background-header .main-navbar .nav li:last-child {
    display: none;
  }

  .header-area .main-navbar .nav li:nth-child(6),
  .background-header .main-navbar .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-navbar .nav {
    margin-top: 80px !important;
  }

  .header-area .main-navbar .logo {
    color: #1e1e1e;
  }

  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: var(--red) !important;
    opacity: 1;
  }

  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }



  .header-area .main-navbar {
    overflow: hidden;
  }

  .header-area .main-navbar .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }

  .background-header .nav {
    margin-top: 80px;
  }

  .header-area .main-navbar .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .header-area.header-sticky .nav {
    margin-top: 100px;
    background: #fff;
  }

  .header-area .main-navbar .nav li {
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .header-area .main-navbar .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px 10px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
    text-align: left;
  }

  .header-area .main-navbar .nav li a:hover {
    background: #eee !important;
    color: var(--red) !important;
  }

  .header-area .main-navbar .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .header-area .main-navbar .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .header-area .main-navbar .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .header-area .main-navbar .nav li.submenu ul.active {
    height: auto !important;
  }

  .header-area .main-navbar .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .header-area .main-navbar .nav li.submenu:hover ul,
  .header-area .main-navbar .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .header-area .main-navbar .nav {
    display: flex !important;
  }
}
/* End Main Header */
/* 
---------------------------------------------
Sub-header
--------------------------------------------- 
*/


.sub-header-area {
  /* background-color: #fafafa; */
  /* box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); */
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.sub-header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.sub-header-area .main-nav .logo {
  line-height: 100px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* top: 22px; */
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.background-header .main-nav .logo {
  line-height: 22.5px;
}

.background-header .main-nav .nav {
  margin-top: 20px !important;
}

.sub-header-area .main-nav .nav {
  float: right;
  margin-top: 38px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.sub-header-area .main-nav .nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.nav .nav-black a {
  color: black;
}
/* Main Header */
.sub-header-area .main-nav .nav li:last-child {
  padding-right: 0px;
  padding-left: 20px;
  margin-top: -10px;
}

.sub-header-area .main-nav .nav li:last-child a,
.background-header .main-nav .nav li:last-child a {
  color: black !important;
  padding: 0px 20px;
  font-weight: 400;
}

.sub-header-area .main-nav .nav li:last-child a:hover,
.sub-header-area .main-nav .nav li:last-child a.active {
  color: #fff !important;
}

.sub-header-area .main-nav .nav li:last-child .main-red-button-hover a {
  color: #fff;
  padding-top: 10px;
}

.sub-header-area .main-nav .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-nav .nav li:last-child .main-red-button-hover a:hover {
  background-color: var(--red) !important;
  color: #fff;
}

.sub-header-area .main-nav .nav li a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 22.5px;
  border: transparent;
  letter-spacing: 0px;
}


.sub-header-area .main-nav .nav li:hover a,
.sub-header-area .main-nav .nav li a.active {
  color: var(--red) !important;
  border-bottom: 2px red solid;
}

.background-header .main-nav .nav li:hover a,
.background-header .main-nav .nav li a.active {
  color: var(--red) !important;
  opacity: 1;
}

.sub-header-area .main-nav .nav li.submenu {
  position: relative;
  /* padding-right: 30px; */
}

.sub-header-area .main-nav .nav li.submenu:after {
  font-family: 'Poppins', sans-serif;
  /* conxtent: "\f107"; */
  font-size: 15px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-nav .nav li.submenu:after {
  color: #2a2a2a;
}

.sub-header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 150px;
  /* width: 100%; */
  border-radius: 4px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.sub-header-area .main-nav .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.sub-header-area .main-nav .nav li.submenu ul li a:hover {
  background: #fff;
  color: var(--red) !important;
  padding-left: 25px;
}

.sub-header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.sub-header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.sub-header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}


.sub-header-area .main-nav .menu-trigger span,
.sub-header-area .main-nav .menu-trigger span:before,
.sub-header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}



.sub-header-area .main-nav .menu-trigger span:before,
.sub-header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}



.sub-header-area .main-nav .menu-trigger span:before,
.sub-header-area .main-nav .menu-trigger span:after {
  content: "";
}

.sub-header-area .main-nav .menu-trigger span {
  top: 16px;
}

.sub-header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.sub-header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.sub-header-area .main-nav .menu-trigger.active span,
.sub-header-area .main-nav .menu-trigger.active span:before,
.sub-header-area .main-nav .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.sub-header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-nav .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.sub-header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}


.sub-header-area.header-sticky {
  min-height: 80px;
  /* display: none; */
}

.sub-header-area .nav {
  margin-top: 30px;
}

.sub-header-area.header-sticky .nav li a.active {
  color: var(--red);
}

@media (max-width: 1200px) {
  .sub-header-area .main-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .sub-header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {

  .sub-header-area .main-nav .nav li:last-child,
  .background-header .main-nav .nav li:last-child {
    display: none;
  }

  .sub-header-area .main-nav .nav li:nth-child(6),
  .background-header .main-nav .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-nav .nav {
    margin-top: 100px !important;
  }

  .sub-header-area .main-nav .logo {
    color: #1e1e1e;
  }

  .sub-header-area.header-sticky .nav li a:hover,
  .sub-header-area.header-sticky .nav li a.active {
    color: var(--red) !important;
    opacity: 1;
  }

  .sub-header-area {
    /* background-color: #163441; */
    padding: 0px 10px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }

  .sub-header-area .container {
    padding: 0px;
  }

  .sub-header-area .logo {
    margin-left: 30px;
  }

  .sub-header-area .menu-trigger {
    display: block !important;

  }

  .sub-header-area .main-nav {
    overflow: hidden;
  }

  .sub-header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-top: 100px;
    background-color: #e7e7e7;
    text-align: left;

  }


  .sub-header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .sub-header-area.header-sticky .nav {
    margin-top: 80px;

  }

  .sub-header-area .main-nav .nav li {
    width: 100%;

    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .sub-header-area .main-nav .nav li a {
    height: 50px !important;

    line-height: 22.5px !important;
    padding: 10px 10px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }

  .sub-header-area .main-nav .nav li a:hover, .sub-header-area .main-nav .nav li a:active {
    background: #eee !important;
    color: var(--red) !important;
    border-bottom: 2px solid var(--red);
  }

  .sub-header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .sub-header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .sub-header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .sub-header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }

  .sub-header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .sub-header-area .main-nav .nav li.submenu:hover ul,
  .sub-header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .sub-header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
Header To Other Page
--------------------------------------------- 
*/


.background-header .logo,
.background-header .main-navbar .nav li a {
  color: black !important;
}


.background-header .main-navbar .nav li:hover a {
  color: var(--red) !important;
}

.background-header .nav li a.active {
  color: var(--red) !important;
}



.sub-header-area .main-navbar {
  min-height: 80px;
  background: transparent;

}

.sub-header-area .main-navbar .logo {
  line-height: 100px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}


.sub-header-area .main-navbar .nav {
  float: right;
  margin-top: 38px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.sub-header-area .main-navbar .nav li {
  padding-left: 12px;
  padding-right: 12px;
}

.nav .nav-black a {
  color: black;
}

.sub-header-area .main-navbar .nav li:last-child {
  padding-right: 0px;
  padding-left: 20px;
  margin-top: -10px;
}

.sub-header-area .main-navbar .nav li:last-child a,
.background-header .main-navbar .nav li:last-child a {
  color: black !important;
  padding: 0px 20px;
  font-weight: 400;
}

.sub-header-area .main-navbar .nav li:last-child a:hover,
.sub-header-area .main-navbar .nav li:last-child a.active {
  color: red !important;

}

.sub-header-area .main-navbar .nav li:last-child .main-red-button-hover a {
  color: white !important;
  padding-top: 10px;
}

.sub-header-area .main-navbar .nav li:last-child .main-red-button-hover a:hover,
.background-header .main-navbar .nav li:last-child .main-red-button-hover a:hover {
  background-color: var(--red) !important;
}

.sub-header-area .main-navbar .nav li a {
  display: block;
  font-weight: 400;
  font-size: 15px;
  color: black;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 22.5px;
  border: transparent;
  letter-spacing: 1px;
}

.sub-header-area .main-navbar .nav li a {
  color: black;
}

.sub-header-area .main-navbar .nav li:hover a ,
.sub-header-area .main-navbar .nav li:active a {
  color:red !important;
}

.sub-header-area .main-navbar .nav li.submenu {
  position: relative;
  /* padding-right: 30px; */
}

.sub-header-area .main-navbar .nav li.submenu:after {
  font-family: 'Poppins', sans-serif;
  /* content: "\f107"; */
  font-size: 12px;
  color: #2a2a2a;
  position: absolute;
  right: 18px;
  top: 12px;
}

.background-header .main-navbar .nav li.submenu:after {
  color: #2a2a2a;
}

.sub-header-area .main-navbar .nav li.submenu ul {
  position: absolute;
  width: 150px;
  /* border: 1px solid gray; */
  padding-left: unset;
  border-radius: 4px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 50px;
  opacity: 0;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-header-area .main-navbar .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.sub-header-area .main-navbar .nav li.submenu ul li:last-child {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
}
.sub-header-area .main-navbar .nav li.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  padding-left: 20px;
  /* padding-top: 20px; */
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;

}

.sub-header-area .main-navbar .nav li.submenu ul li a:hover {
  background: #fff;
  color: var(--red) !important;
  padding-left: 25px;
}

.sub-header-area .main-navbar .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.sub-header-area .main-navbar .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.sub-header-area .main-navbar .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.background-header .main-navbar .menu-trigger {
  top: 23px;
}

.sub-header-area .main-navbar .menu-trigger span,
.sub-header-area .main-navbar .menu-trigger span:before,
.sub-header-area .main-navbar .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  
}

.background-header .main-navbar .menu-trigger span,
.background-header .main-navbar .menu-trigger span:before,
.background-header .main-navbar .menu-trigger span:after {
  background-color: #f7f7f7;
}

.sub-header-area .main-navbar .menu-trigger span:before,
.sub-header-area .main-navbar .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #f7f7f7;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.background-header .main-navbar .menu-trigger span:before,
.background-header .main-navbar .menu-trigger span:after {
  background-color: #1e1e1e;
}

.sub-header-area .main-navbar .menu-trigger span:before,
.sub-header-area .main-navbar .menu-trigger span:after {
  content: "";
}

.sub-header-area .main-navbar .menu-trigger span {
  top: 16px;
 
}

.sub-header-area .main-navbar .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.sub-header-area .main-navbar .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.sub-header-area .main-navbar .menu-trigger.active span,
.sub-header-area .main-navbar .menu-trigger.active span:before,
.sub-header-area .main-navbar .menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.sub-header-area .main-navbar .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.background-header .main-navbar .menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.sub-header-area .main-navbar .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.background-header .main-navbar .menu-trigger.active span:after {
  background-color: #1e1e1e;
}



.sub-header-area.header-sticky .nav li a.active {
  color: var(--red);
}

@media (max-width: 1200px) {
  .sub-header-area .main-navbar .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }

  .sub-header-area .main-navbar:before {
    display: none;
  }
}

@media (max-width: 992px) {

  .sub-header-area .main-navbar .nav li:last-child,
  .background-header .main-navbar .nav li:last-child {
    display: none;
  }

  .sub-header-area .main-navbar .nav li:nth-child(6),
  .background-header .main-navbar .nav li:nth-child(6) {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .background-header .main-navbar .nav {
    margin-top: 80px !important;
  }

  .sub-header-area .main-navbar .logo {
    color: #1e1e1e;
  }

  .sub-header-area.header-sticky .nav li a:hover,
  .sub-header-area.header-sticky .nav li a.active {
    color: var(--red) !important;
    opacity: 1;
  }

  .sub-header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }



  .sub-header-area .main-navbar {
    overflow: hidden;
  }

  .sub-header-area .main-navbar .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }

  .background-header .nav {
    margin-top: 80px;
  }

  .sub-header-area .main-navbar .nav li:first-child {
    border-top: 1px solid #eee;
  }

  .sub-header-area.header-sticky .nav {
    margin-top: 100px;
    background: #fff;
  }

  .sub-header-area .main-navbar .nav li {
    width: 100%;
    background: #fff;
    border: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;

  }

  .sub-header-area .main-navbar .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px 10px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
    text-align: left;
  }

  .sub-header-area .main-navbar .nav li a:hover {
    background: #eee !important;
    color: var(--red) !important;
  }

  .sub-header-area .main-navbar .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }

  .sub-header-area .main-navbar .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }

  .sub-header-area .main-navbar .nav li.submenu ul li a:hover:before {
    width: 0px;
  }

  .sub-header-area .main-navbar .nav li.submenu ul.active {
    height: auto !important;
  }

  .sub-header-area .main-navbar .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }

  .sub-header-area .main-navbar .nav li.submenu:hover ul,
  .sub-header-area .main-navbar .nav li.submenu:focus ul {
    height: 0px;
  }
}

@media (min-width: 767px) {
  .sub-header-area .main-navbar .nav {
    display: flex !important;
  }
}
/* End Main Sub-Header */